[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "==1.4.25"
sqlacodegen = {extras = ["citext"], version = "*"}
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-mail = "*"
psycopg2 = "*"
openai = "==0.28"

[dev-packages]

[requires]
python_version = "3.9"
